.box {
  width: 45rem;
  height: 50rem;
  margin: auto;
  background-color: white;
  position: relative;
}

.box__heading {
  text-align: center;
  margin: 1rem;
}

/* box main styling */
.box__main {
  position: relative;
}

.box__page {
  width: 90%;
  opacity: 0;
  position: absolute;
  top: 1rem;
  left: 1rem;
  transform: translateX(110%);

  transition: all 0.5s;
}

.prev {
  transform: translateX(-20%);
}

.active {
  transform: translateX(0);
  opacity: 1;
}

.box__footer {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
}

.footer__btn {
  cursor: pointer;
  font-size: 1.8rem;
  padding: 0.6rem 1.2rem;
  display: flex;
  align-items: center;
  background-color: #ccc;
}

.hidden {
  visibility: hidden;
}
